body, html {
  height: 100%;
  font-family: 'Merriweather Sans';
}

.first-page {
	background-image: asset-url('main_background.jpg');
	color: white;

  height: 100%;
  width: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-right: 0px;
  margin-left: 0px;
}

.sign-up-box {
  font-size: 15px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 50px;
}

.size-22 {
  font-size: 19px;
}

.link-light-red {
  color: white;
}

.link-light-red:hover {
  color: #ffb3b3;
}

.link-light-red:active {
  color: #ffb3b3;
}

.link-light-red:visited {
  color: white;
}

.sign-up-panel {
  color: #1a1a1a;
  opacity: 0.9;
  box-shadow: 5px 5px 10px;
  padding: 20px 20px 20px 20px;
}

.title-bold {
  font-weight: 800;
  font-size: 90px;
}

.extra-bold {
  font-weight: 800;
}

.first-page-box {
  font-family: 'Merriweather Sans';
  font-weight: 300;
  font-size: 19px;
	padding-right: 70px;
	padding-left: 70px;
	padding-top: 130px;
	text-align: center;
}

.plan-panel {
  color: #1a1a1a;
  opacity: 0.7;
  box-shadow: 5px 5px 10px;
}

.plan-panel:hover {
  opacity: 0.9
}

.mb-50 {
  margin-bottom: 50px
}

.mt-30 {
  margin-top: 30px;
}

.pl-0 {
  padding-left: 0px
}

.sign-up-button {
  margin-top: 10px;
  border-radius: 0px;
}

.plan-panel li {
  display: block
}

.plan-panel li:before {
  color: red;
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 13px;
  color: black;
  padding-right: 7px;
  position: relative;
}

.root-link {
  color: white;
  font-weight: 800;
  font-size: 30px;
  margin-left: 70px;
  opacity: 0.9;
}

.root-link:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.root-link:visited {
  color: white;
  opacity: 1;
  text-decoration: none !important;
}

.sign_up_alert {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 10px;
}

.form-control:focus {
  border-color: #ff3333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 7px;
  min-height: 50px;
  padding-top: 6px;
}

.navbar-inverse {
  background: #1a1a1a;
}

.over-nav {
  width: 100%; 
  height: 3px;
  background: #ff534f;
  position: absolute;
  z-index: 1;
}

.app-body {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
}

.navbar-organization {
  color: #ff534f;
  float: left;
  padding: 15px 0px;
  font-size: 30px;
  line-height: 20px;
  height: 50px;
}

.menu-dropdown {
  color: white !important;
  font-weight: 800;
  font-size: 25px;
  margin-right: 70px;
  opacity: 0.9;
}

.menu-dropdown:hover {
  opacity: 1;
}

.menu-dropdown:active{
  opacity: 1;
}

.dropdown-menu {
  background: #000000;
  font-size: 15px;
}

.dropdown-menu > li > a {
  color: #f2f2f2;
}

.dropdown-menu > li > a:hover {
  background: #ff534f;
  color: #f2f2f2;
}

.glyphicon-log-out {
  margin-left: 10px;
}

.alert {
  margin-top: 20px;
}