body, html {
  height: 100%;
  font-family: 'Merriweather Sans';
  font-weight: 300;
}

.row {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

// Pages with no session

.no-session-page {
	background-image: asset-url('main_background.jpg');
	color: white;

  height: 100%;
  width: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-right: 0px;
  margin-left: 0px;

  display: flex;
  align-items: center;
}

.no-session-box {
  font-size: 15px;
  padding-right: 70px;
  padding-left: 70px;
}

.no-session_alert {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 10px;
}

.no-session-panel {
  color: #1a1a1a;
  opacity: 0.9;
  box-shadow: 5px 5px 10px;
  padding: 20px 20px 20px 20px;
}

.link-white, .link-white:visited {
  color: white;
}

.link-white:hover, .link-white:active, {
  color: #ffb3b3;
}

// Buttons

.btn-danger {
  border-radius: 0px;
}

// Paddings and margins

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-50 {
  margin-bottom: 50px
}

.mr-10 {
  margin-right: 10px
}

.pl-0 {
  padding-left: 0px
}

.pt-30 {
  padding-top: 30px;
}

// Font-specific

.font-size-19 {
  font-size: 19px;
}

.title-bold {
  font-weight: 800;
  font-size: 90px;
}

.extra-bold {
  font-weight: 800;
}

// Root page without session

.first-page-box {
  font-size: 19px;
	padding-right: 70px;
	padding-left: 70px;
	text-align: center;
}

.chose-plan-panel {
  color: #1a1a1a;
  opacity: 0.7;
  box-shadow: 5px 5px 10px;
}

.chose-plan-panel:hover {
  opacity: 0.9
}

.chose-plan-panel li {
  display: block
}

.chose-plan-panel li:before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 13px;
  color: black;
  padding-right: 7px;
  position: relative;
}

// Form control red contouring 

.form-control:focus {
  border-color: #ff534f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 29, 26, 0.6);
}

// Navbar

.root-link {
  color: white;
  font-weight: 800;
  font-size: 30px;
  margin-left: 70px;
  opacity: 0.9;
}

.root-link:hover, .root-link:visited {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 7px;
  min-height: 50px;
  padding-top: 6px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbar-inverse {
  background:  #262626;
}

.over-nav {
  width: 100%; 
  height: 3px;
  background: #ff534f;
  position: absolute;
  z-index: 2;
}

.navbar-organization {
  color: #ff534f;
  float: left;
  padding: 15px 0px;
  font-size: 30px;
  line-height: 20px;
}

.navbar-name {
  font-size: 23px;
  line-height: 20px;
  padding: 15px 0px 0px 50px;
}

.edit-user-navbar-link {
  color: white;
  opacity: 0.9;
}

.edit-user-navbar-link:hover, .edit-user-navbar-link:visited {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.menu-dropdown {
  color: white !important;
  font-weight: 800;
  font-size: 25px;
  margin-right: 70px;
  opacity: 0.9;
}

.menu-dropdown:hover, .menu-dropdown:active {
  opacity: 1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: #262626;
}

.nav-dropdown-menu {
  background: #4d4d4d;
  font-size: 15px;
}

.nav-dropdown-menu > li > a {
  color: #f2f2f2;
}

.nav-dropdown-menu > li > a:hover {
  background: #ff534f;
  color: #f2f2f2;
}

.glyphicon-log-out {
  margin-left: 10px;
}

// Pages with session

.app-body {
  background: #f2f2f2;
  width: 100%;
  min-height: 100%;
  padding: 100px 70px 30px 70px;
}

.alert {
  margin-top: 20px;
}

.user-profile-panel {
  width: 700px;
  margin: 0 auto;
}

// Forms for pages with sessions

.default-panel-heading {
  text-align: center;
  background: white !important;
  color: #262626 !important;
  border-color: white !important;
  border-radius: 25px;
}

.signed-in-panel-default {
  margin-top: 50px;
  box-shadow: 4px 3px 10px 0px rgba(122,118,122,1);
  padding: 30px 30px 30px 30px;
}

.link-red, .link-red:visited {
  color: #ff534f;
}

.link-red:hover, .link-red:active, {
  color: #ff3633;
}

.datepicker table tr td.active:active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.active:hover, 
.datepicker table tr td.active.highlighted.active:hover {
   background-color: #ff534f;
}